<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}On the road2 again!{% endblock %}</title>
        <meta name="description" lang="fr" content="Le blog qui va vous faire rêver!" />
		<meta name="authors" content="Audrey Passerieux & Emmanuel Guiraud" />
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet1" />
        {% endblock %}
        
    </head>
  <body>
      {% block body %}
      
      {% endblock %}
  </body>
</html>
