{% extends 'base.html.twig' %}

{% block body %}
    <form id="save" action="/save/{{ post.getId() }}" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="title" placeholder="Titre" value="{{ post.getTitle }}" class="validate">
                <!-- <label for="title">Titre</label> -->
            </div>
        </div>
        <div id="summernote">{{ post.getText() }}</div>
        <input type="text" id="text" name="text" value="" hidden>
        {% if post.getId() > 0 %}
            <input type="text" name="id" value="" hidden>
        {% endif %}
        <input class="waves-effect waves-light btn green right" type="submit" name="button" value="Enregistrer">
    </form>
    <script type="text/javascript">
        $('#save').submit(function(e) {
            // e.preventDefault();
            $('#text').val($('#summernote').summernote('code'));
        });
    </script>
{% endblock %}
